@model IEnumerable<OrganicLifeWebMvc.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<div style="padding:10px;">
    <h2 style="text-align:center;">Listagem de Produtos</h2>

    <p>
        <a asp-action="Create" class="btn btn-success">Adicionar Produto</a>
    </p>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sigla)
            </th>
            <th>
                Descrição
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                Orgânico
            </th>
            <th style="display:flex; justify-content:space-around;">
                <div>Editar</div>
                <div>Detalhes</div>
                <div>Apagar</div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sigla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organico)
            </td>
            <td style="display:flex; justify-content:space-around;">
                <a asp-action="Edit" class="btn btn-primary btn" asp-route-id="@item.Id" style=""><img src="~/images/edit.png" style="width: 15px; height: 15px;" /></a>
                <a asp-action="Details" class="btn btn-info btn" asp-route-id="@item.Id" style="margin-left:7px;"><img src="~/images/search.png" style="width: 15px; height: 15px;" /></a>
                <a asp-action="Delete" class="btn btn-danger btn" asp-route-id="@item.Id"><img src="~/images/trash2.png" style="width: 15px; height: 15px;" /></a>
            </td>
        </tr>
        }
    </tbody>
</table>
