@model OrganicLifeWebMvc.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h2 class="text-center">Deletar Cliente</h2>
<h3 class="text-center">Você tem certeza que deseja deletar o cliente <b>@Model.Pessoa.Nome</b> ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id cliente:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            Nome:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pessoa.Nome)
        </dd>
        <dt>
            Cpf:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pessoa.Cpf)
        </dd>
        <dt>
            RG:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pessoa.Rg)
        </dd>
        <dt>
            E-mail:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pessoa.Email)
        </dd>
        <dt>
            Celular:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pessoa.Celular)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger btn-sm" /> |
        <a asp-action="Index" class="btn btn-default btn-sm">Cancelar</a>
    </form>
</div>
