@model IEnumerable<OrganicLifeWebMvc.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<div style="padding:10px;">
    <h2 style="text-align:center;">Listagem Clientes</h2>
    <p>
        <a asp-action="Create" class="btn btn-success">Adicionar Cliente</a>
    </p>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Data/Hora Cadastro
            </th>
            <th>
                Responsável
            </th>
            <th>
                Data/Hora Alteração
            </th>
            <th>
                Responsável Alteração
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pessoa.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataHoraCadastro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResponsavelCadastro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataHoraAlteracao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResponsavelAlteracao)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@item.Id" class="p" style="">Editar</a> |
                    <a asp-action="Details" class="btn btn-info btn-sm" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>