@model IEnumerable<OrganicLifeWebMvc.Models.Venda>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorDesconto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxaEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeioPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraPrevisaoEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deletado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraExclusao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponsavelExclusao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponsavelCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraAlteracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponsavelAlteracao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorDesconto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxaEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeioPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraPrevisaoEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deletado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraExclusao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsavelExclusao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsavelCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraAlteracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsavelAlteracao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
