@model IEnumerable<OrganicLifeWebMvc.Models.Venda>

@{
    ViewData["Title"] = "RelatorioVendas";
}

<h2 style="text-align:center; padding:10px;">Minhas Vendas</h2>

<table class="table table-striped" style="margin-top:50px;">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Valor Total
            </th>
            <th>
                Desconto
            </th>
            <th>
                Taxa de Entrega
            </th>
            <th>
                Forma de Pagamento
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Pessoa.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorDesconto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxaEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeioPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pago)
            </td>
        </tr>
}
    </tbody>
</table>
