@model IEnumerable<OrganicLifeWebMvc.Models.Venda>

@{
    ViewData["Title"] = "RelatorioCompras";
}

<h2>Minhas compras</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor.PessoaJuridica.NomeFantasia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorDesconto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxaEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeioPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pago)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor.PessoaJuridica.NomeFantasia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorDesconto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxaEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeioPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pago)
            </td>
        </tr>
}
    </tbody>
</table>
