@model OrganicLifeWebMvc.Models.Fornecedor

@{
    ViewData["Title"] = "Delete";
}

<h2 class="text-center">Deletar Fornecedor</h2>
<h3 class="text-center">Você tem certeza que deseja deletar o fornecedor <b>@Model.PessoaJuridica.NomeFantasia</b> ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            Nome fantasia:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PessoaJuridica.NomeFantasia)
        </dd>
        <dt>
            Razão social:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PessoaJuridica.RazaoSocial)
        </dd>
        <dt>
            Cnpj:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PessoaJuridica.Cnpj)
        </dd>
        <dt>
            Responsável:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PessoaJuridica.Responsavel.Nome)
        </dd>
        <dt>
            E-mail:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PessoaJuridica.Email)
        </dd>
        <dt>
            Celular:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PessoaJuridica.Celular)
        </dd>
        <dt>
            Telefone:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PessoaJuridica.Telefone)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-default">Cancelar</a>
    </form>
</div>
