@model OrganicLifeWebMvc.Models.Fornecedor

@{
    ViewData["Title"] = "Details";
}

<h2 class="text-center">Detalhes do Fornecedor</h2>
<h3 class="text-center">Informações do fornecedor <b>@Model.PessoaJuridica.NomeFantasia</b></h3>
<hr />
<div style="display:flex; flex-direction:column; align-items:center;">
    <dl class="dl-horizontal">
        <dt>
            Id:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            Nome fantasia:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PessoaJuridica.NomeFantasia)
        </dd>
        <dt>
            Razão social:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PessoaJuridica.RazaoSocial)
        </dd>
        <dt>
            Cnpj:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PessoaJuridica.Cnpj)
        </dd>
        <dt>
            Responsável:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PessoaJuridica.Responsavel.Nome)
        </dd>
        <dt>
            E-mail:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PessoaJuridica.Email)
        </dd>
        <dt>
            Celular:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PessoaJuridica.Celular)
        </dd>
        <dt>
            Telefone:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PessoaJuridica.Telefone)
        </dd>
        <dt>
            Logradouro:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PessoaJuridica.Endereco.Logradouro)
        </dd>
        <dt>
            Numero:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PessoaJuridica.Endereco.Numero)
        </dd>
        <dt>
            Bairro:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PessoaJuridica.Endereco.Bairro)
        </dd>
        <dt>
            CEP:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PessoaJuridica.Endereco.Cep)
        </dd>
        <dt>
            Cidade:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PessoaJuridica.Endereco.Cidade)
        </dd>
        <dt>
            Estado:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PessoaJuridica.Endereco.Estado)
        </dd>
        <dt>
            Data/hora cadastro:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataHoraCadastro)
        </dd>
        <dt>
            Responsável pelo cadastro:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsavelCadastro)
        </dd>
        <dt>
            Data/hora alteração:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataHoraAlteracao)
        </dd>
        <dt>
            Responsável pela alteração:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsavelAlteracao)
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model.Id">Editar</a> |
        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
    </div>
</div>

