@model IEnumerable<OrganicLifeWebMvc.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
}

<div style="padding:10px;">
    <h2 style="text-align:center;">Listagem de Fornecedores</h2>
    <p>
        <a asp-action="Create" class="btn btn-success">Adicionar Fornecedor</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome fantasia
            </th>
            <th>
                Razão social
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PessoaJuridica.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PessoaJuridica.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PessoaJuridica.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PessoaJuridica.Email)
            </th>
            <th>
                Responsável
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PessoaJuridica.NomeFantasia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PessoaJuridica.RazaoSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PessoaJuridica.Cnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PessoaJuridica.Celular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PessoaJuridica.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PessoaJuridica.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PessoaJuridica.Responsavel.Nome)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary btn-sm p" asp-route-id="@item.Id" style="">Editar</a> |
                    <a asp-action="Details" class="btn btn-info btn-sm" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.Id">Deletar</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
