@model IEnumerable<OrganicLifeWebMvc.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
}

<div style="padding:10px;">
    <h2 style="text-align:center;">Listagem de Fornecedores</h2>
    <p>
        <a asp-action="Create" class="btn btn-success">Adicionar Fornecedor</a>
    </p>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nome Fantasia
            </th>
            <th>
                Razão Social
            </th>
            <th>
                CNPJ
            </th>
            <th>
                Celular
            </th>
            <th>
                Telefone
            </th>
            <th>
                E-mail
            </th>
            <th>
                Responsável
            </th>
            <th>
                Editar
            </th>
            <th>
                Detalhes
            </th>
            <th>
                Apagar
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaJuridica.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaJuridica.NomeFantasia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaJuridica.RazaoSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaJuridica.Cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaJuridica.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaJuridica.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaJuridica.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaJuridica.Responsavel.Nome)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary btn" asp-route-id="@item.Id" style=""><img src="~/images/edit.png" style="width: 15px; height: 15px;" /></a>
            </td>
            <td>
                <a asp-action="Details" class="btn btn-info btn" asp-route-id="@item.Id" style="margin-left:8px;"><img src="~/images/search.png" style="width: 15px; height: 15px;" /></a>
            </td>
            <td>
                <a asp-action="Delete" class="btn btn-danger btn" asp-route-id="@item.Id"><img src="~/images/trash2.png" style="width: 15px; height: 15px;" /></a>
            </td>
        </tr>
        }
    </tbody>
</table>
